.main{

}
.App {
  text-align: center;
  background-color: rgb(71, 71, 224);
  width: 100%;
  height: 100%;
 
}
/* Logos*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 2%;
}
.poli_logo {
 height: 15vmin;
 margin: 2%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Contenedor*/
.container{
  display: flex;
  margin: 2%;
}
.col-2, .col{
  flex: 1;
  background-color:rgb(13, 13, 72);
  margin: 2%;
}
.col-2{
  flex: 2;
  
}
/*Lista de precios*/

.listmoney{
  list-style: none;
  text-align: center;
}
.item {
  color: white;
  align-items: center;
  border-radius: 50px;
  margin-left: 30%;
  margin-right: 30%;
  font-size:medium;
}

.item.active { 
  background-color: teal;
}

.earned {
  margin: 2%;
  color: white;
  
}
/*Botones*/
.btnRetirarse{
  
  width:30%;
  padding: 2%;
  margin: 2%;
  border: 2% solid black;
  border-radius:50px;
  color:black;
  font-weight: bold;
  transition: all 0.9s;
  text-align: center;
  font-size: 100%;
}

.btnRetirarse:hover{

  background: rgb(212, 31, 31);
  color:white;

}

/*Verificar resultados gana pierde o se retira*/
.results{
  color: white;
}